/*CONTACT section*/
.main .section3 {
    scroll-snap-align: center;
    
    background-color: #eee;
    color: black;

    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.main .section3 .contact-container {
    margin: 50px 100px;
}
.main .section3 .contact-container {
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 1fr repeat(2, auto);

}
.main .section3 .contact-container .conContainer{

    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(3,1fr); 
}
.main .section3 .contact-container .conContainer .container-about {
    display: flex;
    flex-direction: column;
    gap:10px; 
}
.main .section3 .contact-container .conContainer .container-name,
.main .section3 .contact-container .conContainer .container-name .logo {
    display: flex;
    justify-content: center;
}
.main .section3 .contact-container .conContainer .container-name i {
    display: flex;
    justify-content: center;
}
.main .section3 .contact-container .conContainer .container-name .logo{
/* align-items: center; */

    background-image: url('../img/Vo.ico');
    max-width:100px;
    height:100px;
    background-repeat:no-repeat;
    background-size: 100% 100%;

    margin: 0 50px;
}


.main .section3 .contact-container .conContainer .container-about .content-about {
    display: flex;
    flex-direction: column;

    gap:10px;
}
.main .section3 .contact-container .conContainer .container-contacts {
    display: flex;
    justify-content: flex-end;
}
.main .section3 .contact-container .conContainer .container-contacts .con {
    display: flex;
    flex-direction: column;
    gap:10px;
}
.main .section3 .contact-container .divider {
    margin: 2rem 0;
    height: .3rem;
    background-color: black;
}
/*END OF CONTACT section*/
/* Desktop/Laptop */
@media (max-width: 1200px) {
    .main .section3 {
        font-size: 1.4rem;

    }
    .main .section3 .contact-container {
        margin: 40px 90px;
    }
}
/* Tablet */
@media (max-width: 992px) {
    .main .section3 {
        font-size: 1.15rem;

    }
    .main .section3 .contact-container {
        margin: 20px 55px;
    }
    .main .section3 .contact-container .divider {
        margin: 1.5rem 0;
        height: .3rem;
        background-color: black;
    }
}
/* Tablet/Mobile Large */
@media (max-width: 768px) {
    .main .section3 {
        font-size: 1rem;

    }
    .main .section3 .contact-container {
        margin: 40px 30px;
    }
    .main .section3 .contact-container .divider {
        margin: 1rem 0;
        height: .2rem;
        background-color: black;
    }
    .main .section3 .contact-container .conContainer .container-name .logo{
        width:85px;
        height: 85px;
    }
}
/* Mobile */
@media (max-width: 576px) {
    .main .section3 {
        font-size: 0.9rem;
    }
    .main .section3 .contact-container {
        margin: 15px 15px;
    }
    .main .section3 .contact-container .conContainer{
        display: flex;
        flex-direction: column;
        gap:10px
    }
    .main .section3 .contact-container .conContainer .container-about .title-about {
        /* display: unset; */

        display: flex;
        justify-content: center;
    }
    .main .section3 .contact-container .conContainer .container-about .content-about div {
        display: flex;
        justify-content: center;
    }
    .main .section3 .contact-container .conContainer .container-contacts {
        display: flex;
        justify-content: center;
    }
    .main .section3 .contact-container .conContainer .container-contacts .con .sec1,
    .main .section3 .contact-container .conContainer .container-contacts .con .sec2,
    .main .section3 .contact-container .conContainer .container-contacts .con .sec3 {
        display: flex;
        justify-content: center;
    }
}