@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500&family=Montserrat:wght@100;300;400&family=Press+Start+2P&family=Roboto:wght@500&family=Russo+One&display=swap');
html, body{
    margin: 0;
    padding:0;
    
}
/*Parallax Css Design*/

.main 
{
    display: grid;
    grid-auto-rows: 100vh 100vh 47vh;

    scroll-snap-type:y mandatory;
    overflow-y: scroll;
    height: 100vh;

    scroll-behavior: smooth;
}
a, a:focus, a:active {
    text-decoration: none;
   color: whitesmoke;
   outline: none;
   border:none;
}
@media (max-width: 576px){
    .main {
    
    scroll-snap-type:none;
    /* overflow-y:unset; */

    scroll-behavior: smooth;
   
    }
}