html, body{
    margin: 0;
    padding:0;
}
/*Parallax Css Design*/
.main 
{
    display: grid;
    grid-auto-rows: 100vh 100vh 100vh 40vh;
    font-family: 'Roboto', sans-serif;
    color:white;
}
a {
    color:white;
}
/*First Page*/
.main .section1
{
    background-color:rgb(29, 28, 28);
    padding: 50px 120px 0 120px;

    /*Layout*/
    display: grid;
    grid-template-rows: 200px 140px repeat(2,100px);
}
.main .section1 .name{
    font-size: 3.5rem;
    font-weight: 500;

    /*Layout*/
    display: flex;
    justify-content: center;
    align-items: center;

}
.main .section1 .name span {
    color:rgb(58, 128, 0);
    font-weight: 600;
}

/*Description Section*/
.main .section1 .description {
    font-size: 1.5rem;
    font-weight: 400;

    padding: 10px 40px;
}
.main .section1 .description b {
    color: rgb(20, 115, 173);
}
.main .section1 .description span {
    font-weight: 800;
    color: rgb(168, 48, 48);
}
/*END OF Description*/
/*Start of Tech Stack*/
.main .section1 .techStack {
    font-size: 1.5rem;
}
.main .section1 .techStack .title {
    font-weight: 500;
}
.main .section1 .techStack .techIcons{
    font-size: 3rem;

    display: flex;
    justify-content: center;
    column-gap: 75px;
    cursor: pointer;

}
/*END OF TechStack*/
/*Start of Socials*/
.main .section1 .socials {
    font-size: 1.5rem;
}
.main .section1 .socials .title {
    font-weight: 500;
}
.main .section1 .socials .social-icons{
    font-size: 3rem;

    display: flex;
    justify-content: center;
    column-gap: 75px;
    cursor: pointer;
}
/*END OF SOCIALa*/


/*END OF First Page*/


.main .section2
{
    background-color: rgb(41, 44, 44);
}
.main .section3
{
    background-color:rgba(129, 127, 127, 0.5);
}
.main .section4
{
    background-color: #eee;
}

/*Sidebar Aniamtion*/
.sidebar-main.hide,
.sidebar-main.hide .icon-container{
    margin-left: -300px;
}
.sidebar-main.show,
.sidebar-main.show .icon-container{
    margin: 0px;
}

.sidebar-main {
    /*Hide the side Nav*/
    margin-left: -300px;
    
    position:fixed;
    background-color:rgb(12, 80, 123);
    height: 100vh;
    width:300px;
    transition: margin 0.5s ease;

    /*Layout Grid*/
    display: grid;
    grid-template-rows: 60px 1fr;
    justify-items: center;
    row-gap: 20px;
}

/*Icon*/
.sidebar-main .icon-container{
    /*Hide the Overlap Initials*/
    margin-left: -300px;


    position:fixed;
    left:300px;
    height:80px;
    width:100px;
    background:white;
    border-radius: 0 50% 50% 0;
    cursor: pointer;
    transition: margin 0.5s ease;

    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.8rem;
    box-shadow: 0px 6px 1px gray;
    /*Layout*/
    display: grid;
    place-items:center;
}
/*Menu*/
.sidebar-main .menu-container{
    list-style: none;
    padding: 0;
    margin: 0;
    width:100%;

    /*Layout*/
    /*grid-row: 3/4;*/
    display: grid;
    grid-auto-rows: 60px;
}
.sidebar-main .menu-container li{
    /*Layout*/
    color:white;
    font-size: 1.2rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: grid;
    place-items: center;
}
.sidebar-main .menu-container li:hover{
    /*Design*/
    background: white;
    color:rgb(58, 128, 0);
    cursor: pointer;
    padding-left: 40px;
    transition: padding 0.5s ease;
}
